[Desktop Entry]
Encoding=UTF-8
Name=Link to Eliza, Computer Therapist
Type=Link
URL=http://psych.fullerton.edu/mbirnbaum/psych101/Eliza.htm
Icon=text-html
Name[en_GB]=Resource - Eliza
